
@media only screen and (min-width:0px) and (max-width:767px) {

    .mob_site_menu {
        background: url(../images/icon/menu_bg.jpg) no-repeat center center;
    }
    .mob_main_cart {
        background: url(../images/icon/mob_cart.jpg) no-repeat center center;
    }
    .mob_main_user {
        background: url(../images/icon/user.jpg) no-repeat center center;
    }

    .hide_small_screen{
        display: none;
    }
    .mob_menu_wrapper .site_menu_wrapper_inner{
        background: #040404;
        clear: both;
        height: 45px;
        width: 100%; 
    }
    .mob_site_menu, .mob_main_user, .mob_main_cart {
        height: 45px;
        width: 32.3%;
        display: inline-block;
        vertical-align: top;
        color: #FFF;
        text-align: center;
    }

    .mob_main_user {
        border-right: 1px solid #868686;
        border-left: 1px solid #868686;
        border-top: 0px solid #868686;
        border-bottom: 0px solid #868686;
    }
    .mob_site_content {
        left: -800px;
        position: absolute;
        top: 0px;
        width: 260px;
        height: 500%;
        z-index: 9999;
        overflow-y: auto;
        background-image: url(../images/box-shadow-mobile.png);
        background-position: right 0px;
        background-repeat: repeat-y;
        background-color: rgb(255, 255, 255);
        transition: all 0.2s ease-in-out 0s;
    }
    
        
    .mob_main_user_wrapper {
        top: 44px;
        position: absolute;
        border: 1px solid rgba(0, 0, 0, .15);
        width: 100%;
        left: 0;
        text-align: left;
        background: #FFF;
        z-index: 1;
        padding: 10px 15px;
    }
    .mob_main_user_wrapper ul li {
        margin: 0 0 8px 0;
        color: #323232;
        list-style: none;
    }
    .mob_main_user_wrapper ul li a {
        color: #000;
        font-family: "Montserrat",sans-serif;
        font-size: 12px;
        font-weight: 400;
    }
    .mob_main_user_wrapper {
        display: none;
    }
    body.current .mob_site_content {
        left: -260px;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    body.current {
        left: 260px;
        width: 100%;
        overflow: hidden;
        position: fixed;
        height: 100%;
    }
    .mob_site_content li a {
        font-size: 13px;
        font-weight: 700;
        color: #000;
        padding: 12px 20px;
        margin: 0;
        border-bottom: 1px solid #e5e5e5;
        display: block;
        text-align: left;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
    }
    .mob_text_order {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #e7e7e7;
        padding: 9px 10px;
        color: #141414;
        margin: 0;
        line-height: 30px;
        letter-spacing: 0.02em;
        opacity: 0.7;
        font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    }
    .mob_header_logo {
        border-bottom: 1px solid #e7e7e7;
        float: left;
        margin: 28px 0 20px;
        padding-bottom: 38px;
        text-align: center;
        width: 100%;
    }

    .mob_header_logo a img {
        width: 147px;
    }
    .site-header {
        margin: 0;
    }
    .user_login {
        width: 100%;
    }
    .user_login .inline_checkbox{
        margin: 10px 0 -5px 0;
    }
    .new_distributor_sign_up {
        padding: 0;
        margin: 12px 0 -7px 0;
        width: 100%;
    }
    .lost_password{
        margin: 0px;  
    }
    .footer-top {
        text-align: center;
    }
    .footer_contact {
        margin: 0 0 6px 0;
    }
    .site-footer h3 {
        margin: auto auto 10px auto;
    }
    .site-footer .widget {
        margin: 15px 0;
    }
    .footer-top ul.social, .footer-top .text {
        display: inline-block;
        vertical-align: middle;
        float: none;
        margin: 0 6px;
    }
    .user_name_email_field input,
    .cus_button,
    .input_type_file input[type=file],
    .name_field,
    .user_registration {
        width: 100%;
    }
    .product-list-container {
        width: 100%;
    }
    .scrollup {
        padding: 0px 10px;
        right: 15px;
        top: 90%;
    }
    .cart_add_product_img {
        width: 80px;
        height: 80px;
    }
    .variant-changer {
        width: 100px;
    }
    .my_account_orders thead{
        display: none;
    }
    .shop_table_responsive tr td::before {
        content: attr(data-title) ": ";
        font-weight: 700;
        float: left;
    }
    td.cart_page_product_action::before,
    .shop_table_responsive tr td.cart_product_remove::before{
        display: none;
    }
    .shop_table_responsive tr td {
        display: block;
        text-align: right;
        border-width: 0px 0px 1px 0px;
    }
    .shop_table_responsive tr td:last-child {
        border-width: 1px 0px 0px 0px !important;
        padding: 15px;
    }
    .shop_table_responsive tr{
        display: block;
        margin-bottom: 20px;
    }
    .table_search {
        text-align: left;
    }
    .table_search select, .table_search input {
        display: inline-block;
        width: 100% !important;
        margin: 6px 0;
    }
    .inner_content{
        margin-top: 20px;
    }
    .my_account_orders tr td .order-rsp-change {
        margin: 0 0 0 10px;
        float: none;
    }
    .page-title {
        font-size: 14px;
        margin: 0 0 10px 0;
    }
    .my_account_orders {
        margin-bottom: 15px;
    }
    .billing_address_container {
        width: 100%;
        margin: 30px 0 0 0;
    }
    .left_menu{
        margin: 0 0 20px 0;
        padding: 15px;
    }
    .get_in_touch .form-group input[type=text]{
        width:100%;
    }
    .my_account .col-md-6{
        padding: 0px;
        margin: 10px 0;
    }
    .action_form{
        padding: 15px;
    }
    .my_account .cus_button{
        width: auto;
    }
    .terms_and_condition h3 {
        font-size: 16px;
        margin: 0 0 3px 0;
    }
    .athletes_list img {
        width: 100%;
        height: auto;
    }
    .commission_aside, .order_aside {
        width: 100%;
        background: #f9f9f9;
        padding: 10px;
    }
    .page-content.entry-content p{
        line-height: 24px;
    }
    .shipping-address{
        font-size: 14px; 
    }
    .subscription_end_date_edit_calender input {
        width: 100%;
        margin: 0 0 4px 0;
    }
    .subscription_end_date_edit_calender a {
        display: block;
        margin: 0 0 4px 0;
    }
    .order-actions a {
        display: block;
        /*vertical-align: middle;*/
        margin: 4px 0px;
    }
    .date_by_day {
        width: 100%;
        margin: 0 0 15px 0;
        padding: 10px 0 0 0;
    }
    .table_search label {
        margin: 0 0 2px 0;
    }
    .page-title a{
        float: none;
        display: block;
    }
    .mob_left_right_none{
        float: none;
    }
    .word_break{
        word-break: break-all;
    }
    .mob_order_action_inline a{
        display: inline-block;
        margin: 0 10px;
    }
    .section_blog label {
        display: block;
    }
    .my_paypal_form .cus_field {
        width: 100%;
    }
    .label_block{
        display: block;
    }
    .cart_page_product_img{
        display: none;
    }
    .cart_table tr td.product-thumbnail {
        width: 100%;
    }
    .cart_product_number .decrement,
    .cart_product_number .qty,
    .cart_product_number .increment{
        display: inline-block;
        vertical-align: middle;
        float:none;
    }
    .cart_product_remove {
        width: 58px;
        border-width: 0 1px 1px 0 !important;
        text-align: center !important;
    }
    .cart_page_data_list{
        border: 1px solid  #e1e1e1;
    }
    .cart_page_product_coupon{
        float: none;
        margin-bottom: 10px;
    }
    .cart_page_product_coupon .cus_button{
        width: 40%;
    }
    .countinue_shop{
        float: none;
    }
    .cart_page_product_coupon .input-text, .countinue_shop .update_cart {
        float: left !important;
        margin: 0 !important;
        width: 47% !important;
    }
    .no_display_mobile{
        display: none !important;
    }
    .cart_totals {
        padding: 10px;
    }
    .cart_totals .shop_table_responsive tr {
        display: block;
        margin-bottom: 0px;
    }
    .shipping-methods{
        font-size: 13px;
    }
    .col2-set {
        width: 100%;
    }
    .woocommerce-checkout-payment {
        padding:10px;
        margin: 0 0 20px 0;
    }
    .payment_box {
        padding: 0px;
        margin: 10px 0;
    }
    .fieldset {
        padding: 5px 5px;
    }
    .checkout_coupon {
        float: none;
        background: #e8e8e8;
        padding: 10px;
        margin: 0 0 15px 0;
    }
    .checkout_coupon .input-coupon,
    .checkout_coupon .cus_button{
        display: inline-block;
        vertical-align: top;
        float: none !important;
        width: 47%;
    }
    .order_details_list li {
        width: 100%;
        display: block;
        overflow: hidden;
        border-style: dotted;
        border-width: 0px 0px 1px 0px;
        border-color: #d3ced2;
        margin: 0 0 5px 0;
        padding: 0 0 4px 0;
    }
    .order_details_list li strong {
        display: inline-block;
        /*float: right;*/
    }
    .woocommerce-notice.woocommerce-notice--success.woocommerce-thankyou-order-received{
        padding: 15px;
    }
    .receive_order_details{
        margin-bottom: 20px;
    }
    .receive_order_details thead tr th{
        padding: 0 10px;
    }
    .checkout-payment-card-opt img {
        width: 70%;
    }
    .error404Img img{
        width: 100%;
    }
}

@media only screen and (min-width:320px) and (max-width:1024px) {



}

@media only screen and (min-width:0px) and (max-width:767px) {

}

@media only screen and (min-width:0px) and (max-width:756px) {

}

@media only screen and (min-width:768px) and (max-width:1900px) {

}
/** office samsung tab **/
@media only screen and (min-width:768px) and (max-width:1024px) {
    .site_menu ul {
        margin: 0px 0px 0px 100px;
    }
    .entry-content .faq_container{
        padding: 10px;
    }
    .coupon-wrapper-container {
        width: 100%;
        margin-bottom: 0;
    }
    .error404Img img{
        width: 100%;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {

}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {

}


/** this css for ipad office **/


@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 1)
and (orientation: portrait){
    .error404Img img{
        width: 100%;
    }
    .product-list-container {
        margin: auto auto 50px auto;
        width: 100%;
    }
    .my_account_orders tr td, .my_account_orders tr th, .receive_order_details tr td {
        padding: 5px;
        font-size: 13px;
    }
    .cart_product_details {
        margin: 0 5px;
        width: 176px;
    }
    .my_account_orders tr td a, .receive_order_details tr td a{
        font-size: 13px;
    }
    .cart_product_number input {
        padding: 5px;
        width: 50px;
        border-radius: 0px;
    }
    .increment, .decrement {
        background: #dddddd;
    }
    .cart_table .actions .input-text{
        border-radius: 0px;
    }
    .coupon.checkout_coupon{
        width: 100%;
        float: none;
        margin: 0 0 15px 0;
    }
    .woocommerce-checkout-payment {
        padding: 10px;
        margin: 0 0 20px 0;
    }
    .payment_box {
        padding: 8px;
        margin: 10px 0;
        border-radius: 0;
        background-color: #f6f6f6;
        color: inherit;
        font-size: 13px;
    }
    .fieldset {
        padding: 5px;
        margin: 0px;
    }
    .review-order-table-wrapper {
        margin: 0 0 20px 0;
    }
    .cart_totals {
        padding: 10px;
    }
    .left_menu {
        padding: 5px;
    }
    .page-title {
        font-size: 18px;
        margin-bottom:18px;
    }
    .table_search select, .table_search input {
        width: 23%;
    }

    .my_account_orders thead{
        display: none;
    }
    .shop_table_responsive tr td::before {
        content: attr(data-title) ": ";
        font-weight: 700;
        float: left;
    }

    /*.shop_table_responsive tr td.order-representative::before,
    .shop_table_responsive tr td.order-total::before{

    }*/
    .order-actions::before,
    td.cart_page_product_action::before,
    .shop_table_responsive tr td.cart_product_remove::before{
        display: none;
    }
    .shop_table_responsive tr td {
        display: block;
        text-align: right;
        border-width: 0px 0px 1px 0px;
    }
    .shop_table_responsive tr td:last-child {
        border-width: 1px 0px 0px 0px !important;
        padding: 15px;
    }
    .shop_table_responsive tr{
        display: block;
        margin-bottom: 20px;
    }
    .my_account_orders tr td .order-rsp-change {
        float: none;
    }

    .table_search select, .table_search input {
        width: 40%;
        float: left;
    }
    .to_hide span.member_edit_cancel{
        width: auto;
    }
    .table_search_form_group label {
        display: block;
        text-align: left;
    }
    .date_by_day {
        width: 64%;
        float: left;
    }
    .shop_table_responsive .order-number a{
        float: none;
    }
}

@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 1) 
and (orientation: landscape){

}
/** //EnD this css for ipad office **/
